---
layout: default
title: Songwriter, Composer, Creative
image: /images/jordie.jpg
description: "Indie songwriter, composer, and musician from Southern California, often compared to Sufjan Stevens, Radical Face, and Iron & Wine."
---

<section class="marquee">
  <div id="slick">
    <div>
      <a class="marquee-link" href="/posts/embracing-the-vulnerability-of-creativity">
        <div class="marquee-slide" style="background-image: url(/images/marquee_blog_post.jpg)">
          <div class="col text-center">
            <h3>Read my Latest Blog Post:</h3>
            <h3 class="margin-top">"Embracing the Vulnerability of Creativity"</h3>
          </div>
        </div>
      </a>
    </div>
    <div>
      <a class="marquee-link" href="/videos">
        <div class="marquee-slide" style="background-image: url(/images/marquee_hh.jpg)">
          <div class="col text-center">
            <h3>Watch My Latest Performance</h3>
            <h3 class="margin-top">at Hidden House Coffee.</h3>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>


{% include listen.liquid %}
{% include optin.liquid %}
