<% wrap_layout :layout do %>
  <!-- <h1 class="page-title"><%= blog.articles.first.title %><hr></h1>
  <div class="post-body"><%= blog.articles.first.body %></div> -->
  <div class="blog-post">
    <h2 class="post-title"><%= current_article.title %></h2>
    <div class="post-body">
      <%= current_article.body %>
    </div>
  </div>
<% end %>
