<footer>
  <div class="container">
    <div class="container-inner">
      <div class="social">
        <a target="_blank" href="mailto:hello@jordiesaenz"><i class="fa fa-envelope"></i></a>
        <a target="_blank" href="https://www.github.com/jordiesaenz"><i class="fa fa-github"></i></a>
        <a target="_blank" href="https://www.twitter.com/jordiesaenz"><i class="fa fa-twitter"></i></a>
        <a target="_blank" href="https://www.dribbble.com/jordiesaenz"><i class="fa fa-dribbble"></i></a>
        <a target="_blank" href="https://www.instagram.com/omgjordie"><i class="fa fa-instagram"></i></a>
        <a target="_blank" href="https://www.linkedin.com/in/jordie-saenz-aab6659a"><i class="fa fa-linkedin"></i></a>
      </div>
      <div class="optin">
        <div id="mc_embed_signup">
          <p>Sign up for my newsletter:</p>
          <form action="//jordiesaenz.us9.list-manage.com/subscribe/post?u=0eee09b1552779feada46aa0a&amp;id=e1685cb220" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>
              <div class="mc-field-group">
                <label for="mce-EMAIL">Email Address </label>
                <input placeholder="email" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                <input class="btn button" type="submit" value="subscribe" name="subscribe" id="mc-embedded-subscribe">
              </div>
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0eee09b1552779feada46aa0a_e1685cb220" tabindex="-1" value=""></div>
            </div>
            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
          </form>
        </div>
      </div>
    </div>
  </div>
</footer>
