<nav class="menu">
  <a href="/" <% if current_page.data.id == "home" %>class="active"<% end %>>Home</a>
  <a href="/blog" <% if current_page.data.id == "blog" or current_page.data.id == "blog_post" %>class="active"<% end %>>Blog</a>
  <a href="http://www.thenorthernstate.com">Music</a>
</nav>
