<footer>
  <div class="container">
    <div class="grid">
      <div class="col-md-1-2">
        <div class="social-links">
          <h6>Follow:</h6>
          <a href="https://www.facebook.com/jordiesaenz" target="_blank"><i class="fa fa-lg fa-facebook"></i></a>
          <a href="https://www.twitter.com/jordiesaenz" target="_blank"><i class="fa fa-lg fa-twitter"></i></a>
          <a href="https://www.instagram.com/omgjordie" target="_blank"><i class="fa fa-lg fa-instagram"></i></a>
          <a href="https://www.soundcloud.com/jordiesaenz" target="_blank"><i class="fa fa-lg fa-soundcloud"></i></a>
        </div>
        <iframe id="spotify-follow" src="https://embed.spotify.com/follow/1/?uri=spotify:artist:1tN6yPJuguezv5YQlaSs69&size=basic&theme=light" width="200" height="25" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
      </div>
      <div class="col-md-1-2 as-center footer-right">
        <a href="/contact">Contact</a>
      </div>
    </div>
  </div>
</footer>
