<header>
  <div class="header-overlay"></div>
  <div class="container">
    <nav>
      <div class="logo-container logo-container-mobile hidden-md hidden-lg hidden-xl">
        <a href="/"><img class="logo" src="/images/jordiesaenz.png"></a>
      </div>
      <a class="hidden-xs {% if page.type == 'blog' %}active{% endif %}" href="/blog">Blog</a>
      <a class="hidden-xs {% if page.type == 'music' %}active{% endif %}" href="/music">Music / Lyrics</a>
      <div class="logo-container hidden-sm hidden-xs">
        <h1 class="site-title">{{ site.title }}</h1>
        <a href="/"><img class="logo" src="/images/jordiesaenz.png"></a>
      </div>
      <a class="hidden-xs {% if page.type == 'about' %}active{% endif %}" href="/about">About</a>
      <a class="hidden-xs {% if page.type == 'videos' %}active{% endif %}" href="/videos">Videos</a>
      <div class="mobile-nav hidden-sm hidden-md hidden-lg hidden-xl">
        <a id="mobile-nav-trigger" href="javascript:void(0)">MENU <i class="fa fa-caret-down"></i></a>
        <div class="mobile-nav-links">
          <a href="/about">About</a>
          <a href="/music">Music / Lyrics</a>
          <a href="/videos">Videos</a>
          <a href="/blog">Blog</a>
          <a href="/content">Contact</a>
      </div>
    </nav>
  </div>
</header>
