<section class="listen">
  <div class="container margin-top">
    <div class="grid">
      <div class="col-md-1-2">
        <h3>Listen to "The Northern State"</h3>
        <p>Recorded in the closet of a one-bedroom apartment, Jordie Saenz's debut EP delivers a suburban, indie-folk collection of songs that are contemplative, somber, and emotionally-driven. Jordie's lyrics draw from deeply from the wells of existential philosophy and western religion to tackle death, loss, and companionship in his first musical release.
          <br/>
          Listen Now:
        </p>
        <div class="grid grid--flush margin-top text-center">
          <div class="col-xs-1-3 col-sm-1-3 listen-link">
            <a href="https://itunes.apple.com/us/album/the-northern-state-ep/id1173998996"><i class="fa fa-2x fa-apple" aria-hidden="true"></i><br/>iTunes</a>
          </div>
          <div class="col-xs-1-3 col-sm-1-3 listen-link">
            <a href="https://open.spotify.com/album/5P6v2khkE33ORZI2FVU66O"><i class="fa fa-2x fa-spotify" aria-hidden="true"></i><br/>Spotify</a>
          </div>
          <div class="col-xs-1-3 col-sm-1-3 listen-link">
            <a href="https://jordiesaenz.bandcamp.com/album/the-northern-state"><i class="fa fa-2x fa-bandcamp" aria-hidden="true"></i><br/>Bandcamp</a>
          </div>
        </div>
      </div>
      <div class="col-md-1-2 listen-box">
        <iframe src="https://embed.spotify.com/?uri=spotify:album:5P6v2khkE33ORZI2FVU66O&theme=white" width="100%" height="310" frameborder="0" allowtransparency="true"></iframe>
      </div>
    </div>
  </div>
</section>
