<section class="optin">
  <div class="container">
    <h3 class="text-center hidden-sm hidden-md hidden-lg hidden-xl">Join My Newsletter</h3>
    <div class="grid">
      <div class="col-sm-1-2 col-md-2-5">
        <img src="/images/optin_newsuit.png" class="img-responsive">
      </div>
      <div class="col-sm-1-2 col-md-3-5 as-center">
        <h3 class="hidden-xs">Join My Newsletter</h3>
        <p>Get a FREE download of my latest single, "New Suit" when you sign up for my newsletter!! I promise I won't spam you with any stupid stuff, I'll just keep you up to date with new releases, blog posts, and what I'm up to!</p>
        <form action="//jordiesaenz.us9.list-manage.com/subscribe/post?u=0eee09b1552779feada46aa0a&amp;id=387c859127" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="hidden-sm" target="_blank" novalidate>
          <input placeholder="Email Address" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0eee09b1552779feada46aa0a_387c859127" tabindex="-1" value=""></div>
          <div class="clear"></div>
          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-optin btn-block">
        </form>
      </div>
      <div class="col hidden-xs hidden-md hidden-lg hidden-xl">
        <form action="//jordiesaenz.us9.list-manage.com/subscribe/post?u=0eee09b1552779feada46aa0a&amp;id=387c859127" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <input placeholder="Email Address" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0eee09b1552779feada46aa0a_387c859127" tabindex="-1" value=""></div>
          <div class="clear"></div>
          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-optin btn-block">
        </form>
      </div>
    </div>
  </div>
</section>
