<section class="blog-posts">
  <div class="container">
    <h3>Recent Blog Posts:</h3>
    <div class="grid margin-top">
      {% for post in site.posts | limit: 3 %}
        <div class="col-md-1-3">
          <a href="{{ post.url }}" class="post-link">
            <img src="{{ post.image }}" class="img-responsive">
          </a>
        </div>
      {% endfor %}
    </div>
    {% if site.posts.count > 3 %}
      <a href="/">View Archive ></a>
    {% endif %}
  </div>
</section>
