section.about {
  @extend %page-margin;
  h2 {
    font-size: 32px;
    font-weight: 700;
    margin: 0;
    padding: 0 0 15px 0;
  }
  p {
    font-size: 24px;
    padding: 0;
    margin: 0;
    &.margin-top { margin-top: 20px; }
  }
  ul {
    @extend .grid;
    display: block;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    padding: 0;
    li {
      font-size: 18px;
      list-style: none;
      @extend .col-sm-1-3;
      display: inline-block;
      margin: 0;
      padding: 0;
      @media (max-width: $xs-max) {
        display: block;
      }
    }
  }
  a#developer {
    &:hover, &:active, &:focus, &.active {
      color: $purple;
      border-color: $purple;
    }
  }
  a#designer {
    &:hover, &:active, &:focus, &.active {
      color: $pink;
      border-color: $pink;
    }
  }
  a#musician {
    &:hover, &:active, &:focus, &.active {
      color: $yellow;
      border-color: $yellow;
    }
  }
  a#writer {
    &:hover, &:active, &:focus, &.active {
      color: $cyan;
      border-color: $cyan;
    }
  }
  .info-box {
    @extend .text-left;
    @include transition(transform .4s ease, opacity .4s ease, height .4s ease, width .4s ease, box-shadow .4s ease, background-color .4s ease);
    &.hide {
      background-color: $white-50;
      height: 0;
      margin: 0;
      opacity: 0;
      padding: 0;
      visibility: hidden;
      width: 0;
      @include shadow(1);}
      @include transform(translateY(15px));
    &.active {
      background-color: $white-80;
      display: block;
      margin-top: 30px;
      opacity: 1;
      padding: 30px;
      @include position(relative, 0 null null 0);
      @include shadow(2);
      @include transform(translateY(0));
    }
  }
}
