.blog-post {
  background: $white-80;
  padding: 30px;
  margin: 30px auto;
  max-width: 800px;
  text-align: justify;
  @extend %page-margin;
  @include shadow(1);
  &:not(:first-of-type) {
    border-top: 1px solid $black-50;
  }
  .post-title {
    font-size: 48px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    @extend .text-center;
  }
  .poster-image-container {
    margin: 15px 0;
    width: 100%;
  }
  .poster-image {
    height: auto;
    width: 100%;
    max-width: 400px;
    @include position(relative, null null null 50%);
    @include transform(translateX(-50%));
    @include shadow(2);
  }
  .post-body {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.6;
    margin: 0;
    padding: 15px 0;
    @extend .text-justify;
    * {
      margin: 0;
      padding: 0;
    }
    a {
      color: $pink;
      @extend %transition;
      &:hover, &:focus, &:active { color: $purple }
    }
    p {
      &:not(:first-of-type) {
        padding-top: 10px;
      }
    }
    ol {
      font-size: 20px;
      margin: 15px 45px;
    }
  }
  @media (max-width: $xs-max) { margin: 0; }
}
.blog-listing {
  margin-bottom: 45px;
}
.blog-card-link {
  color: $black;
  text-decoration: none;
  .blog-card {
    background-color: $white-50;
    box-sizing: border-box;
    margin-top: 30px;
    padding: 15px;
    @extend %page-margin;
    @extend %transition;
    @include position(relative);
    @include shadow(1);
    .date {
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 5px;
      @include position(absolute, 50% null null -65px);
      @include transform(translateY(-50%) rotate(-90deg));
      @media (max-width: $xs-max) {
        color: $black;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: -1px;
        z-index: 999999;
        @include position(absolute, 15px null null 45px);
        @include transform(translateX(-50%) rotate(0deg));

      }
    }
    .post-title {
      font-size: 24px;
      font-weight: 700;
      margin: 0;
      padding: 0 0 7.5px;
      @media (max-width: $xs-max) { padding: 5px 0; }
    }
    .post-body {
      font-size: 18px;
      margin: 0;
      padding: 0;
    }
    .read-more {
      color: $purple;
      font-size: 16px;
      font-weight: 500;
    }
    .poster-image {
      width: 100%;
      @extend %transition;
      @include filter(saturate(0%));
      @include position(relative, 50% 0 null 0);
      @media (max-width: $xs-max) {@include filter(saturate(100%));}
    }
  }
  &:hover, &:focus, &:active {
    color: $pink;
    .blog-card {
      background-color: $white-80;
      @include shadow(2);
      @include transform(translateY(-5px));
    }
    .poster-image {
      @include filter(saturate(100%));
    }
  }
}
