section.parallax-header {
  margin: 0;
  background: url("https://images.unsplash.com/photo-1458400411386-5ae465c4e57e");
  position: relative;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  h1 {
    color: $white;
    background: $black-80;
    padding: 30px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .snowboarder {
    width: 100px;
    position: absolute;
    transform: translate(0, 0);
    &-1 {
      top: 100%;
      left: 100%;
    }
    &-2 {
      top: 100%;
      left: 0;
    }
    &-3 {
      top: 50%;
      right: 100%;
    }
    &-4 {
      top: 0%;
      left: 200%;
    }
    &-5 {
      top: -50%;
      left: 25%;
    }
  }
}
section.parallax-body {
  margin: 0;
  position: relative;
  top: 0;
  height: 100vh;
  h2 {
    font-size: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
