<section class="parallax-header">
  <h1>Wow! Snowboarders!</h1>
  <img class="snowboarder snowboarder-1" src="http://www.immediateentourage.com/ie/wp-content/uploads/2013/04/Resting-Boarder.png">
  <img class="snowboarder snowboarder-2" src="http://pngimg.com/upload/snowboard_PNG7997.png">
  <img class="snowboarder snowboarder-3" src="http://www.pngall.com/wp-content/uploads/2016/05/Snowboard-Download-PNG.png">
  <img class="snowboarder snowboarder-4" src="http://pngimg.com/upload/snowboard_PNG8022.png">
  <img class="snowboarder snowboarder-5" src="http://www.earthware.co.uk/Content/images/Carousel/Skype/snowboarder.png">
</section>
<section class="parallax-body">
  <h2>Isn't snowboarding cool?</h2>
</section>
