// Colors
$cyan: #18FFFF;
$pink: #FF4081;

$purple: #E040FB;
$black: #333;
$black-80: rgba(0, 0, 0, .8);
$black-50: rgba(0, 0, 0, .5);
$white: #fff;
$white-80: rgba(255, 255, 255, .8);
$white-50: rgba(255, 255, 255, .5);

$red: #e46;
$blue: #4ce;
$yellow: #fd3;

// Fonts
$sans-serif: "Poppins", sans-serif;
$serif: "Playfair Display", serif;

// Layout
$base-unit: 15px;
