// Colors
$cyan: #18FFFF;
$pink: #FF4081;
$yellow: #FFFF00;
$purple: #E040FB;
$black: #000;
$black-80: rgba(0, 0, 0, .8);
$black-50: rgba(0, 0, 0, .5);
$white: #fff;
$white-80: rgba(255, 255, 255, .8);
$white-50: rgba(255, 255, 255, .5);
