---
title: CO+LAB, Meet Jordie
header: Hey there, CO+LAB
tagline: My name's Jordie, and I'd love to join your team.
id: colab
---
<section class="about">
  <div class="container-inner">
    <h3>About Me</h3>
    <p class="margin-top">I like to consider myself a modern-day Renaissance Man, perpetually learning and growing in a variety of fields. I am a <strong>developer</strong>, <strong>designer</strong>, <strong>musician</strong>, and <strong>writer</strong>.</p>
    <p class="margin-top">I live in Orange County, California, with my wife, <a href="http://www.emilyilluminate.com" target="_blank">Emily</a>. I'm currently working at a Software-as-a-Service company called <a href="https://www.kajabi.com" target="_blank">Kajabi</a> as a Designer and Frontend Developer.</p>
    <p class="margin-top">I'm looking to join a team with a high ceiling for growth in my skills and experience. A company's vision and philosophy are highly important to me. Having read through CO+LAB's beliefs, I know I can get behind your vision 100% and I believe I'd be a great addition to your team!</p>
    <hr />
    <h3>My Work</h3>
    <p class="margin-top">I hold tightly to deeply-rooted convictions that humans were made to be creative and hardworking, doing all they do with excellence. I love solving problems, making sense of things, and making things work.</p>
    <p class="margin-top">When it comes to <strong>development</strong>, I like to stay <em>DRY</em>, write clean, reusable code, and make sure I can justify every line I write. Here are some of the technologies I use:</p>
    <ul>
      <li>HTML5</li>
      <li>CSS3 / SCSS</li>
      <li>Javascript / jQuery</li>
      <li>Git / Github</li>
      <li>Liquid</li>
      <li>Ruby / ERB</li>
      <li>Gulp</li>
    </ul>
    <p class="margin-top">Concerning <strong>design</strong>, I begin with functionality and usability. Design should be driven by purpose, have a clear goal, communicate clearly and efficiently. Here are some of the tools and resources I use:</p>
    <ul>
      <li>Sketch</li>
      <li>Photoshop</li>
      <li>Illustrator</li>
    </ul>
    <hr />
    <h3>Samples</h3>
    <p class="margin-top">You're currently on my personal website, which itself is an example of my work. Feel free to check out all the code here: <a href="https://github.com/jordiesaenz/jordiesaenz.github.io" target="_blank">https://github.com/jordiesaenz/jordiesaenz.github.io</a>.</p>
    <div class="grid">
      <a class="col-sm-1-2 col-md-1-3 project" id="illuminate">
        <p>View Project</p>
        <img class="img-responsive" src="https://7585772d0354c57373d83229aa6ed9446615d684.googledrive.com/host/0B2iaOCot7-OHMmFmcjVzSGp3dzQ/illuminate.jpg">
      </a>
      <a class="col-sm-1-2 col-md-1-3 project" id="cabernet">
        <p>View Project</p>
        <img class="img-responsive" src="https://7585772d0354c57373d83229aa6ed9446615d684.googledrive.com/host/0B2iaOCot7-OHMmFmcjVzSGp3dzQ/cabernet.jpg">
      </a>
      <a class="col-sm-1-2 col-md-1-3 project" id="balboa">
        <p>View Project</p>
        <img class="img-responsive" src="https://7585772d0354c57373d83229aa6ed9446615d684.googledrive.com/host/0B2iaOCot7-OHMmFmcjVzSGp3dzQ/balboa.jpg">
      </a>
      <a class="col-sm-1-2 col-md-1-3 project" id="ogilvy">
        <p>View Project</p>
        <img class="img-responsive" src="https://7585772d0354c57373d83229aa6ed9446615d684.googledrive.com/host/0B2iaOCot7-OHMmFmcjVzSGp3dzQ/ogilvy.jpg">
      </a>
      <a class="col-sm-1-2 col-md-1-3 project" id="mp_page">
        <p>View Project</p>
        <img class="img-responsive" src="https://7585772d0354c57373d83229aa6ed9446615d684.googledrive.com/host/0B2iaOCot7-OHMmFmcjVzSGp3dzQ/mp_page.jpg">
      </a>
      <a class="col-sm-1-2 col-md-1-3 project" id="marketersparadise">
        <p>View Project</p>
        <img class="img-responsive" src="https://7585772d0354c57373d83229aa6ed9446615d684.googledrive.com/host/0B2iaOCot7-OHMmFmcjVzSGp3dzQ/marketersparadise.jpg">
      </a>
    </div>
  </div>
</section>
