<!DOCTYPE html>
<html lang="en">
  {% include head.liquid %}
  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=190897291332165";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div class="sticky-footer-wrap">
      <div class="content-wrap">
        {% include header.liquid %}
        {{ content }}
      </div>
      <div class="footer-wrap">
        {% include footer.liquid %}
      </div>
    </div>
    {% include scripts.liquid %}
  </body>
</html>
