---
layout: default
---

<section class="post">
  <div class="container">
    <img src="{{ page.image }}" class="img-responsive">
    <div class="panel margin-top">
      {{ content }}
    </div>
    <div class="panel margin-top">
      <p>Follow along as I make music and explore creativity, songwriting, and the human experience:</p>
      <form action="//jordiesaenz.us9.list-manage.com/subscribe/post?u=0eee09b1552779feada46aa0a&amp;id=e1685cb220" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="hidden-sm" target="_blank" novalidate>
        <input placeholder="Email Address" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0eee09b1552779feada46aa0a_e1685cb220" tabindex="-1" value=""></div>
        <div class="clear"></div>
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-optin btn-block">
      </form>
  </div>
</section>
