section.blog {
  @include padding(unit(2) null);
  .post-link {
    color: $black;
    font-family: $serif;
    @extend %transition;
    .post-date {
      font-size: 1.2rem;
      margin-top: unit(1);
    }
    &:hover, &:active, &:focus {
      color: $green;
      .panel {
        @include prefixer(box-shadow, (-0px 2px 2px rgba(0, 0, 0, 0.1), -1px 3px 3px rgba(0, 0, 0, 0.2)), webkit moz ms o spec);
      }
    }
  }
}
