footer {
  background-color: $black;
  @include padding(unit(2) 0);
  .social-links {
    margin-bottom: unit(1);
    h6 {
      color: $white-80;
      margin-bottom: unit(0.5);
    }
    a:not(:last-of-type) {
      margin-right: unit(1);
    }
  }
  .footer-right {
    text-align: right
  }
  @media (max-width: $sm-max) {
    text-align: center;
    .footer-right, .social-links {
      text-align: center;
    }
    #spotify-follow {
      margin: auto;
      text-align: center;
      width: 133px;
      @include transform(translateX(-50%));
      @include position(relative, null null null 50%);
    }
  }
}
