header {
  width: 100%;
  z-index: 9999;
  @include padding(unit(1) 0);
  @include position(fixed, 0 0 null 0);
  nav {
    text-align: center;
    margin: auto;
    a {
      color: $black-80;
      cursor: pointer;
      vertical-align: middle;
      height: 100%;
      @include margin(0 unit(1));
      @extend %transition;
      &.active {
        border-bottom: solid 3px $green;
        color: $green;
        padding-bottom: 5px;
      }
      &:hover, &:active, &:focus {
        color: $green;
      }
    }
  }
  .logo-container {
    display: inline-block;
    max-width: 150px;
    vertical-align: middle;
    @include margin(0 unit(1));
    .site-title {
      margin-left: -999999999px;
      height: 0;
      line-height: 0;
    }
    .logo {
      max-width: 100%;
    }
    a { margin: 0; }
    &-mobile {
      display: block;
      margin: auto;
    }
  }
  .header-overlay {
    opacity: 0;
    transition: all .6s ease;
    @include linear-gradient(to top, transparent, $white-80, $white);
    @include position(absolute, 0 0 0 0);
    &.scrolled {
      opacity: 1;
    }
  }
  &:hover .header-overlay {
    background-color: $white;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  }
  .mobile-nav {
    &-links {
      height: 0;
      overflow: hidden;
      padding-top: unit(1);
      @extend %transition;
      a {
        display: block;
        @include padding(unit(1) null);
      }
      &.open { height: auto; }
    }
  }
  &.mobile-nav-open .header-overlay {
    opacity: 1;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    background-color: $white;
  }
}
