---
title: Jordie Saenz
id: home
header: "Hi, I'm Jordie."
tagline: "I'm a multidisciplinary creative."
---

<section class="about">
  <h3>About Me</h3>
  <p class="margin-top">I like to consider myself a modern-day Renaissance Man, perpetually learning and growing in a variety of fields. I am a <strong>developer</strong>, <strong>designer</strong>, <strong>musician</strong>, and <strong>writer</strong>.</p>
  <p class="margin-top">I live in Orange County, California, with my wife, <a href="http://www.emilyilluminate.com" target="_blank">Emily</a>. I'm currently working at a Software-as-a-Service company called <a href="https://www.kajabi.com" target="_blank">Kajabi</a> as a Designer and Frontend Developer.</p>
</section>
