---
title: Jordie Saenz
---

<h1 class="page-title">MEET JORDIE</h1>
<section class="about text-center">
  <h2>Hi, my name is Jordie. <i class="emo emo-grinning"></i></h2>
  <p><a href="#" id="developer">#developer</a> <a href="#" id="designer">#designer</a> <a href="#" id="musician">#musician</a> <a href="#" id="writer">#writer</a></p>
  <div id="developer" class="info-box hide">
    <h2>#developer</h2>
    <p>I'm a developer. I promise I'll write real things here one day.</p>
  </div>
  <div id="designer" class="info-box hide">
    <h2>#designer</h2>
    <p>I'm a designer. I promise I'll write real things here one day.</p>
  </div>
  <div id="musician" class="info-box hide">
    <h2>#musician</h2>
    <p>I'm a musician. I promise I'll write real things here one day.</p>
  </div>
  <div id="writer" class="info-box hide">
    <h2>#writer</h2>
    <p>I'm a writer. I promise I'll write real things here one day.</p>
  </div>
</section>
